<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-12 mt-3 mb-3">
            <h1 class="text-center">User Profile</h1>
        </div>
        <div class="col-lg-5">
            <div class="card" style="width: 100%;">
                <i *ngIf="write" class="fa fa-pencil"></i>
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" class="card-img-top">
                <div class="card-body d-flex justify-content-center align-items-center flex-column">
                  <h5 class="card-title text-center">{{user?.name}}</h5>
                  <h6 class="card-title text-center">Number of posts: {{duplicate?.length}}</h6>
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-12">
                              <p class="card-text"> <label> Email: </label>{{user?.email}}</p>
                          </div>
                          <div class="col-sm-12">
                            <p class="card-text"> <label> Phone: </label>{{user?.phone}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p class="card-text"> <label> Username: </label>{{user?.username}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p class="card-text"> <label> Company: </label>{{user?.company?.name}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p class="card-text"> <label> Company catch Phrase: </label>{{user?.company?.catchPhrase}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p class="card-text"> <label> Company BS: </label>{{user?.company?.bs}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p class="card-text"> <label> City: </label>{{user?.address?.city}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p class="card-text"> <label> Address: </label>{{user?.address?.street}}, {{user?.address?.zipcode}}</p>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
          <div class="wave waveTop"
              style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
      </div>
      <div class="waveWrapperInner bgMiddle">
          <div class="wave waveMiddle"
              style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
      </div>
      <div class="waveWrapperInner bgBottom">
          <div class="wave waveBottom"
              style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
      </div>
    </div>
</div>
